$page-background-color: #fff;
$white-color: #fff;
$spacing-unit:16px 20px;
$padding:3rem 3rem;
$button-color:#1d1e20;
$btn-color:#2f1c6a;
$box-shadow:0 4px 10px rgba(0,0,0,.1);
$text-color: rgb(27, 27, 27);
$icon-color:#00b090;
$linear-gradient:linear-gradient(to top, #392389 0%, #6140bc 100%);