@import "_mixins.scss";
@import "_variables.scss";
@import "_media.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 100%;
}
body{
    margin: 0;
    overflow-x: hidden;
    color: $btn-color;
    font-weight: 400;
    line-height: 24px;
}

.navigation {
    align-items: flex-start;
    background: 0 0;
    display: flex;
    z-index: 99;
    width: 100vw;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
  
  .menu-wrapper {
    display: flex;
    align-items: center;
    max-width: 1920px;
    padding: 3rem 3rem;
    width: 100%;
    min-height: 56px;
  }
   .Hostinger-link {
    align-items: center;
    display: flex;
    flex-grow: 1;
   }
   .logo {
    display: inline;
   }
   .img-size {
    width: 147px;
    height: 30px;
  }
   .lithuania-link {
    display: flex;
    align-items: center;
    padding: 0px 20px;
  }
   .lithuania-img {
    display: flex;
  }
   .lt-img {
    height: 30px;
    width: 60px;
  }
   .lithuania-span {
    font-weight: 700;
    margin-left: 4px;
  }
}

.main-text{
  color: $btn-color;
}
.nav-menu {
    display: flex;
    align-items: center;
    padding-left: 16px;
    position: relative;
    text-align: right;
    padding-left: 16px;

   ul {
    display: flex;
    padding: 12px;
  } 

   li {
    padding: 12px;
    list-style: none;
}
   a {
    color: black;
    text-decoration: none;
}
  .button 
  {
    border: 2px solid black;
    border-radius: 0.2rem;
    width: 120px;
    font-weight: 700;
    font-size: 17px;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

  .wrapper{
    display: grid;
    padding: 20px 100px;
    width: 100%;
      
    .feature-menu{
      margin-bottom: 20px;
    }
    .feature-text{
      font-size: 28px;
      line-height: 40px;
      color: $btn-color;
    }
    .price-currency{
      display: inline-flex;
      align-items: baseline;
    }
      .price-number{
        font-size: 48px;
        line-height: 56px;
        font-weight: bold;
        margin: 10px;
        color: $btn-color;
      }
      .price-month{
        color: $btn-color;
      }
      .price-currency{
        color: $btn-color;
        display:inline-flex;
      }
      .price-free{
        font-size: 17px;
        color: $btn-color;
        font-weight: bold;
      }
    
    }
.countdown-wrapper{
  display: inline-flex;
  
}
.boxes{
  display: inline-flex;
}
.box{
  align-items: center;
  background:#fff;
  border-radius: 6px;
  display: flex;
  font-size: 30px;
  font-weight: 500;
  height: 64px;
  justify-content: center;
  width: 64px;
  border: 2px solid $btn-color;
}
.value{
  font-size: 18px;
  margin: 16px 4px 0;
}
.img-guarantee{
  width: 20px;
  height: 20px;
}

.btn{
  padding: 15px 20px;
  margin: 20px 0px;
  width: 300px;
  background-color:$btn-color;
  background:$linear-gradient;
  color: white;
  border-radius: 0.3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover{
 color: $btn-color;
}
span{
  color: $btn-color;
}
.img-wrapper {
  display: flex;
  justify-content:center;
  align-items: center;
  flex: 1; 
}


.img-wrapper img {
  max-height: 500px; 
}
.cards{
  padding-bottom: 100px;
  padding-top: 200px;
  display: flex;
  justify-content: center;


.card-container{
  display: flex;
  justify-content: space-evenly;

}
  
.cards-container{
  display: flex;
  gap: 10px;
  margin: 0 0 8px;
}
  .logo-container img{
    width: 30%;
    margin: 0 0 8px;
  }
  
  .trustscore-widget::after{
    content: "|";
    margin: 0 2px;
  }
  .trustscore-widget a {
    text-decoration: none;
    color: black;
  }
  
  .widget-container{
    display: flex;
  }
  
  span{
    color:$text-color;
  }
  .reviews{
    margin: 0 2px;
  }

  .star-container{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .google{
    margin-top: 20px;
  }
  .stars-container{
    display: flex;
    margin-bottom:20px;
  }
  .icon-success{
    fill:$icon-color;
  }
  
.star-img{
  margin-bottom: 14px;
  align-items: center;
  display: flex;
  height: 24px;
}
.star-img img{
  width: 55%;

}
.card-star img{
  width: 40%;
  
}

.star-container{
  display: flex;
    margin: 0 0 8px;
}

}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  
  .content-text{
    width: 100%;
    color: $btn-color;
  }
  .content-p{
    margin-top: 32px;
    text-align: center;
    color: $btn-color;
  }
 
}
.grid{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  .pricing-table{
    border: 1px solid #d5dfff;
    border-radius: 4px;
  }
  .mainPage{
    display: grid;
    
  }
  .single-price{
    margin-top: 32px;
  }

.table-payment{
  text-align: center;
}
  .mainPageFeature{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pricingtable-Feature{
    padding: 32px 24px 0;
  }
  .left-side{
    display: flex;
    justify-content: space-between;
  }
  .left-side:not(:last-child){
    margin-bottom: 12px;
  }
  .plan-feature{
    display: flex;
    justify-content: space-between;
  }
  .plan-feature-content{
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
  .feature-content{
    flex-shrink: 0;
    margin-right: 8px;
  }
  .feature-tool{
    align-items: center;
    cursor:pointer;
    display: flex;
  }  
} 
.center{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.renewal{
  color: #727586;
  margin-top: 16px;
}

.addTo-Card{
  margin-top: 24px;
  max-width: 248px;
  width: 100%;
}
.title{
  font-size: 24px;
  text-align: center;
  color: $btn-color;
  font-weight: bold;
}
.product{
align-items: center;
display: flex;
flex-direction: column;
margin-top: 24px;
width: 100%;
}
.price-number{
  font-size: 48px;
}
.title{
  text-align: center;
}
.discount{
  margin-top: 24px;
}
.discount-tag{
  background-color: #cbe4ff;
  border-radius: 20px;
  padding: 4 12px;
  display: inline;
}
.productInfo{
  opacity: .8;
  text-align: center;
}
.productDescription{
  margin-top: 8px;
  color:$btn-color;
}
.button-primary{
  align-items: center;
  background-color: #673de6;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  min-height: 48px;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  transition: .3s ease-in-out;
  width: 100%;
}
.single-price{
  margin-top: 16px;
  text-align: center;
}
.About-us{
  padding-bottom: 32px;
  padding-top: 32px;
  .payment-terms{
    text-align: center;
    
  }
  
  .description{
    font-size: 16px;
    text-align: center;
  }
  .heading{
    font-size: 36px;
    font-weight:normal;
  }
  span{
    font-weight: 700;
  }
}


@media(min-width:1025px){
  .grid{
    column-gap: 24px;
    max-width: 1208px;
    .h-grid--cols-d-3{
      grid-template-columns: repeat(3,1fr);
    }
    .center{
      border-left:1px solid #d5dfff;
      padding-right: 0;
    }
    .mainPageFeature{
      margin-left:57px;
    }
    .mainPageFeature:first-child{
      display: flex;
      margin-left: 0;
      margin-right: 57px;
      }
      .center{
        border-right: 1px solid #d5dfff;
        padding-right: 24px;
       }
       .center{
        border-left:1px solid #d5dfff;
        padding-left: 24px;
       }

       .description{
        margin-top: 32px;
       }

       .About-us{
        padding-bottom: 48px;
        padding-top: 48px;
       }

  }
    
  
  @media(min-width:768px){
    .grid{
      padding-left: 40px;
      padding-right: 40px;
    }
   .h-grid--cols-t-2{
    grid-template-columns: repeat(2,1fr);
   }
   .product{
    margin-top: 8px;
   }
   .description{
    margin-top: 24px;
   }
   .About-us{
    padding-bottom: 40px;
    padding-top: 40px;
   }
  }
}

  



