@media screen and (max-width: 600px) {
  .lithuania-link {
    display: none;
  }
  .lt-img {
    display: none;
  }
  .lithuania-span {
    display: none;
  }
  .wrapper {
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  .img-wrapper img {
    width: 100%;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-text {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .mainPageFeature {
    display: none;
  }
  .pricingtable-Feature {
    margin-bottom: 40px;
    padding: 40px 24px 0;
  }
  .lithuania-link {
    display: none;
  }
  h1 {
    line-height: 48px;
  }
  .feature-text {
    font-size: 28px;
    line-height: 40px;
  }
  .grid {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mobile {
    flex-direction: row;
    justify-content: center;
  }
  .mobile a:nth-child(3) {
    display: block;
  }
  .img-card img {
    width: 320px;
  }
  .h-grid--cols-t-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    margin-top: 8px;
  }
  .description {
    margin-top: 24px;
  }
  .About-us {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .menu-wrapper {
    min-height: 62px;
    padding: 16px 20px;
  }
  .nav-menu {
    display: flex;
    min-height: 62px;
    padding: 16px 20px;
  }
}
@media (min-width: 768px) and (min-width: 1025px) {
  main {
    display: flex;
  }
  .feature-text {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .lithuania-link {
    display: flex;
  }
  .lt-img {
    height: 30px;
    width: 60px;
    display: block;
  }
  .lithuania-span {
    display: block;
    font-weight: 700;
    margin-left: 4px;
  }
  .mainmenuBar {
    display: none;
  }
  .grid {
    -moz-column-gap: 24px;
         column-gap: 24px;
    max-width: 1008px;
  }
  .grid .h-grid--cols-d-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid .center {
    border-left: 1px solid #d5dfff;
    padding-right: 0;
  }
  .grid .mainPageFeature {
    margin-left: 57px;
  }
  .grid .mainPageFeature:first-child {
    display: flex;
    margin-left: 0;
    margin-right: 57px;
  }
  .grid .center {
    border-right: 1px solid #d5dfff;
    padding-right: 24px;
  }
  .grid .center {
    border-left: 1px solid #d5dfff;
    padding-left: 24px;
  }
  .grid .description {
    margin-top: 32px;
  }
  .grid .About-us {
    padding-bottom: 48px;
    padding-top: 48px;
  }
  .grid .img-card img {
    width: 550px;
  }
  .grid .img-section-wrapper a:nth-child(3) {
    display: block;
  }
  .grid .menu-wrapper {
    min-height: 88px;
    padding: 20px 40px;
  }
  .grid .nav-menu {
    min-height: 88px;
    padding: 20px 40px;
  }
  .grid .lt-img {
    margin-right: 24px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #2f1c6a;
  font-weight: 400;
  line-height: 24px;
}

.navigation {
  align-items: flex-start;
  background: 0 0;
  display: flex;
  z-index: 99;
  width: 100vw;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
}
.navigation .menu-wrapper {
  display: flex;
  align-items: center;
  max-width: 1920px;
  padding: 10px 16px;
  width: 100%;
  min-height: 56px;
}
.navigation .Hostinger-link {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.navigation .logo {
  display: inline;
  margin-left: 24px;
}
.navigation .img-size {
  width: 147px;
  height: 30px;
}
.navigation .lithuania-link {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.navigation .lt-img {
  height: 30px;
  width: 60px;
}
.navigation .lithuania-span {
  font-weight: 700;
  margin-left: 4px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

.main-text {
  color: #2f1c6a;
}

.nav-menu {
  display: none;
  align-items: center;
  padding-left: 16px;
  position: relative;
  text-align: right;
  padding-left: 16px;
}
.nav-menu ul {
  display: flex;
  padding: 12px;
}
.nav-menu li {
  padding: 12px;
  list-style: none;
}
.nav-menu a {
  color: black;
  text-decoration: none;
}
.nav-menu .button {
  border-radius: 4px;
  border: none;
  color: #fff;
  line-height: 1;
  min-height: 48px;
  font-weight: 700;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f1c6a;
}
.nav-menu .mainmenuBar {
  display: flex;
  align-items: center;
}
.nav-menu .mobile-menu-burger {
  cursor: pointer;
  display: inline-block;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: 20px 100px;
}
.wrapper .feature-menu {
  margin-bottom: 20px;
}
.wrapper .feature-text {
  font-size: 24px;
  line-height: 32px;
  color: #2f1c6a;
}
.wrapper .price-currency {
  display: inline-flex;
  align-items: baseline;
}
.wrapper .price-number {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  margin: 10px;
  color: #2f1c6a;
}
.wrapper .price-month {
  color: #2f1c6a;
}
.wrapper .price-currency {
  color: #2f1c6a;
  display: inline-flex;
}
.wrapper .price-free {
  font-size: 17px;
  color: #2f1c6a;
  font-weight: bold;
}

.countdown-wrapper {
  display: inline-flex;
}

.boxes {
  display: inline-flex;
}

.box {
  align-items: center;
  background: #fff;
  border-radius: 6px;
  display: flex;
  font-size: 30px;
  font-weight: 500;
  height: 64px;
  justify-content: center;
  width: 64px;
  border: 2px solid #2f1c6a;
}

.value {
  font-size: 18px;
  margin: 16px 4px 0;
}

.img-guarantee {
  width: 20px;
  height: 20px;
}

.btn {
  padding: 15px 20px;
  margin: 20px 0px;
  width: 300px;
  background-color: #2f1c6a;
  background: linear-gradient(to top, #392389 0%, #6140bc 100%);
  color: white;
  border-radius: 0.3rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: #2f1c6a;
}

span {
  color: #2f1c6a;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.img-wrapper img {
  max-height: 500px;
}

.logo-container {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
}
.cards .card-container {
  display: flex;
  justify-content: space-evenly;
}
.cards .cards-container {
  display: flex;
  gap: 10px;
  margin: 0 0 8px;
}
.cards .logo-container img {
  width: 30%;
  margin: 0 0 8px;
}
.cards .trustscore-widget::after {
  content: "|";
  margin: 0 2px;
}
.cards .trustscore-widget a {
  text-decoration: none;
  color: black;
}
.cards .widget-container {
  display: flex;
}
.cards span {
  color: rgb(27, 27, 27);
}
.cards .reviews {
  margin: 0 2px;
}
.cards .star-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cards .google {
  margin-top: 20px;
}
.cards .stars-container {
  display: flex;
  margin-bottom: 20px;
}
.cards .icon-success {
  fill: #00b090;
}
.cards svg.d-icon-success {
  fill: green;
}
.cards .feature-content {
  fill: #00b090;
}
.cards .star-img {
  margin-bottom: 14px;
  align-items: center;
  display: flex;
  height: 24px;
}
.cards .star-img img {
  width: 55%;
}
.cards .card-star img {
  width: 40%;
}
.cards .star-container {
  display: flex;
  margin: 0 0 8px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content-text {
  width: 100%;
  color: #2f1c6a;
}
.content .content-p {
  margin-top: 32px;
  text-align: center;
  color: #2f1c6a;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.grid .pricing-table {
  border: 1px solid #d5dfff;
  border-radius: 4px;
}
.grid .mainPage {
  display: grid;
}
.grid .single-price {
  margin-top: 32px;
}
.grid .table-payment {
  text-align: center;
}
.grid .mainPageFeature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid .pricingtable-Feature {
  padding: 32px 24px 0;
}
.grid .left-side {
  display: flex;
  justify-content: space-between;
}
.grid .left-side:not(:last-child) {
  margin-bottom: 12px;
}
.grid .plan-feature {
  display: flex;
  justify-content: space-between;
}
.grid .plan-feature-content {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.grid .feature-content {
  flex-shrink: 0;
  margin-right: 8px;
}
.grid .feature-tool {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.renewal {
  color: #727586;
  margin-top: 16px;
}

.addTo-Card {
  margin-top: 24px;
  max-width: 248px;
  width: 100%;
}

.title {
  font-size: 24px;
  text-align: center;
  color: #2f1c6a;
  font-weight: bold;
}

.product {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
}

.price-number {
  font-size: 48px;
}

.title {
  text-align: center;
}

.discount {
  margin-top: 24px;
}

.discount-tag {
  background-color: #cbe4ff;
  border-radius: 20px;
  padding: 4 12px;
  display: inline;
}

.productInfo {
  opacity: 0.8;
  text-align: center;
}

.productDescription {
  margin-top: 8px;
  color: #2f1c6a;
}

.button-primary {
  align-items: center;
  background-color: #673de6;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  min-height: 48px;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.single-price {
  margin-top: 16px;
  text-align: center;
}

.About-us {
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
.About-us .payment-terms {
  text-align: center;
}
.About-us .description {
  font-size: 16px;
  text-align: center;
}
.About-us .heading {
  font-weight: bold;
  text-align: center;
}
.About-us span {
  font-weight: 700;
}
.About-us .link-wrapper {
  display: flex;
  justify-content: center;
}
.About-us .ul-links {
  margin-top: 50px;
  justify-content: center;
}
.About-us .ul-links ul {
  display: flex;
  padding-bottom: 14px;
}
.About-us .ul-links ul li {
  padding: 16px 24px 15px;
  list-style-type: none;
}
.About-us .ul-links ul li a {
  color: #2f1c6a;
  text-decoration: none;
}

.img-section-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img-section-wrapper a:nth-child(3) {
  display: none;
}

.img-card {
  cursor: pointer;
  display: block;
  height: auto;
  margin: 0 12px 24px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .lithuania-link {
    display: none;
  }
  .About-us .ul-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-section-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(x, 1fr));
    gap: 10px;
  }
  .mainmenuBar {
    width: 20%;
  }
  .lt-img {
    display: none;
  }
  .lithuania-span {
    display: none;
  }
  .wrapper {
    padding: 20px 16px;
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  .img-wrapper img {
    width: 80%;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-text {
    text-align: center;
    font-size: 22px;
  }
  .logo-container {
    width: 100%;
  }
  .cards .cards-container {
    display: flex;
    gap: 10px;
    margin: 0 0 8px;
  }
}
@media (min-width: 768px) {
  .mainPageFeature {
    display: none;
  }
  .button {
    padding: 1px 2px;
  }
  .img-wrapper img {
    max-height: 220px;
  }
  .pricingtable-Feature {
    margin-bottom: 40px;
    padding: 40px 24px 0;
  }
  .lithuania-link {
    display: none;
  }
  h1 {
    line-height: 48px;
  }
  .feature-text {
    font-size: 28px;
    line-height: 40px;
  }
  .grid {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mobile {
    flex-direction: row;
    justify-content: center;
  }
  .mobile a:nth-child(3) {
    display: block;
  }
  .img-card img {
    width: 320px;
  }
  .h-grid--cols-t-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .product {
    margin-top: 8px;
  }
  .description {
    margin-top: 24px;
  }
  .About-us {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .menu-wrapper {
    min-height: 62px;
    padding: 16px 20px;
  }
  .nav-menu {
    display: flex;
    min-height: 62px;
    padding: 16px 20px;
  }
}
@media (min-width: 768px) and (min-width: 1025px) {
  main {
    display: flex;
  }
  .feature-text {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .lithuania-link {
    display: flex;
  }
  .lt-img {
    height: 30px;
    width: 60px;
    display: block;
  }
  .lithuania-span {
    display: block;
    font-weight: 700;
    margin-left: 4px;
  }
  .mainmenuBar {
    display: none;
  }
  .grid {
    -moz-column-gap: 24px;
         column-gap: 24px;
    max-width: 1008px;
  }
  .grid .h-grid--cols-d-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid .center {
    border-left: 1px solid #d5dfff;
    padding-right: 0;
  }
  .grid .mainPageFeature {
    margin-left: 57px;
  }
  .grid .mainPageFeature:first-child {
    display: flex;
    margin-left: 0;
    margin-right: 57px;
  }
  .grid .center {
    border-right: 1px solid #d5dfff;
    padding-right: 24px;
  }
  .grid .center {
    border-left: 1px solid #d5dfff;
    padding-left: 24px;
  }
  .grid .description {
    margin-top: 32px;
  }
  .grid .About-us {
    padding-bottom: 48px;
    padding-top: 48px;
  }
  .grid .img-card img {
    width: 550px;
  }
  .grid .img-section-wrapper a:nth-child(3) {
    display: block;
  }
  .grid .menu-wrapper {
    min-height: 88px;
    padding: 20px 40px;
  }
  .grid .nav-menu {
    min-height: 88px;
    padding: 20px 40px;
  }
  .grid .lt-img {
    margin-right: 24px;
  }
}/*# sourceMappingURL=style.css.map */